@use "../variables" as v;

div {
  color: v.$Void;
  height: 100%;
  font-size: 2.5vh;
  position: relative;

  &:focus {
    outline: none;
    &::after {
      content: attr(data-placeholder);
      color: v.$Groove;
      opacity: 0.8;
    }
  }

  &:not(:empty)::after {
    content: "";
  }

  &::selection {
    background-color: v.$BlueLink;
    padding: 2;
  }
  &::-moz-selection {
    background-color: v.$BlueLink;
    padding: 2px;
  }

  &.choix-en-cours {
    background-color: rgba(v.$Groove, 0.1);
    padding: 10px;
    border-radius: 10px;
  }

  &.choix-en-cours-vide::after {
    content: attr(data-placeholder);
  }
}

#Menu {
  top: 2.5rem;
  position: absolute;
  border-radius: 10px;
  height: min-content;
  box-shadow:
    0 10px 16px 0 v.$Smoke,
    0 6px 20px 0 v.$Smoke;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  background-color: v.$WhiteBase;

  ul {
    height: 10vh;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 10px 0;
      width: 100%;
      min-width: max-content;
      display: list-item !important;
      list-style-position: inside;
      position: relative;

      @for $i from 1 to 7 {
        &:nth-child(#{$i}) {
          list-style-image: url("../../assets/Image/Block logo/H#{$i}.png");
        }
      }
      &:nth-child(7) {
        list-style-image: url("../../assets/Image/Block logo/ul.png");
      }
      &:nth-child(8) {
        list-style-image: url("../../assets/Image/Block logo/ol.png");
      }
      &:nth-child(9) {
        list-style-image: url("../../assets/Image/Block logo/T0D0.png");
      }
      &:nth-child(10) {
        list-style-image: url("../../assets/Image/Block logo/Menu.png");
      }
      &:nth-child(11) {
        list-style-image: url("../../assets/Image/Block logo/C4DR3.png");
      }
      &:nth-child(12) {
        list-style-image: url("../../assets/Image/Block logo/C1T4Tion.png");
      }
      &:nth-child(13) {
        list-style-image: url("../../assets/Image/Block logo/Sep4r4teur.png");
      }

      &.selectionne::after {
        background-color: rgba(v.$Smoke, 0.4);
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: 5px;
        top: -5px;
        bottom: -5px;
        left: -10px;
        right: -10px;
        z-index: -1;
      }
    }
  }
}

.Block {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: max-content;
  align-items: stretch;
  gap: 5px;
  width: 100%;

  div {
    &:not(:has(> img)):not(.Block) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &:has(> img) {
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: auto;
        aspect-ratio: auto;
      }

      &:hover {
        border-radius: 5px;
        background-color: rgba(v.$Groove, 0.2);
      }
    }
  }
}
