@use "variables" as v;

#App {
  display: flex;

  #Right {
    position: relative;
    flex: 1;

    h2 {
      position: absolute;
      z-index: 1;
      left: 10px;
      top: 10px;
      > * {
        @include v.Rundeck;
      }

      a {
        letter-spacing: 2px;
        color: v.$Void;
        text-decoration: none;
        border-radius: 4px;
        padding: 1px;
        transition: background 0.3s ease-in;

        &:hover {
          background: rgba(v.$Groove, 0.2);
        }
      }
    }
  }
}
