@use "variables" as v;

.Block {
  margin: 0.2rem;
  display: flex;
  align-items: stretch;
  gap: 2px;
  width: 100%;
  position: relative;

  div {
    border-radius: 5px;

    &:hover > div,
    &:has(> input:focus) div {
      opacity: 1;
    }

    input {
      border-radius: 5px;
      padding: 5px;

      &:hover {
        background-color: rgba(v.$Groove, 0.2);
        mask-image: none;
      }
    }

    &:has(> img) {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s ease-in-out;

      &:nth-child(2) {
        cursor: pointer;
      }

      &:hover {
        background-color: rgba(v.$Groove, 0.2);
      }

      img {
        aspect-ratio: auto;
        height: 1rem;
        padding: 2px;
      }
    }
  }

  &.dragging {
    opacity: 0.3;
    pointer-events: none;
  }

  &.drag-over {
    border-top: 3px solid v.$BlueLink;
    background-color: rgba(v.$BlueLink, 0.5);
    background-color: rgba(v.$BlueLink, 0.05);
    border-radius: 0 0 5px 5px;
  }
}

#Menu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 15vh;
  border-radius: 10px;
  box-shadow:
    0 10px 16px 0 v.$Smoke,
    0 6px 20px 0 v.$Smoke;
  padding: 5px 20px 5px 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
  background-color: v.$WhiteBase;
  z-index: 10;

  ul {
    width: max-content;

    li {
      margin: 0 0 10px 0;
      position: relative;
      width: 100%;

      &:hover::after {
        background-color: rgba(v.$Smoke, 0.4);
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 5px;
        top: -5px;
        bottom: -5px;
        left: -30px;
        right: -10px;
        z-index: -1;
      }
    }
  }
}

.Colonne {
  display: flex;
  flex-direction: column;
}
