@use "variables" as v;

#MenuIcon {
  display: flex;
  flex-direction: column;
  overflow: scroll;

  > div {
    height: min-content;

    h5 {
      width: 100%;
      text-align: center;
    }

    .IconRemix {
      height: 1rem;
      border-radius: 2px;

      &:hover {
        background: url(var(--Icon-Image)) center / cover no-repeat;
        background-color: rgba(v.$Smoke, 0.4);
      }
    }
  }
}
