@use "variables" as *;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $WhiteBase;
  color: $Void;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

* {
  @include Helios;

  &::selection {
    background-color: $BlueLink;
    padding: 2px;
  }
  &::-moz-selection {
    background-color: $BlueLink;
    padding: 2px;
  }
}

img {
  user-select: none;
}
