@use "variables" as *;

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: $WhiteBase;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

* {
  @include Helios;

  &::selection {
    background-color: $BlueLink;
    padding: 2;
  }
  &::-moz-selection {
    background-color: $BlueLink;
    padding: 2px;
  }
}

img {
  user-select: none;
}
