@use "variables" as v;

#Page {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    height: min-content;

    #Banniere {
      background:
        linear-gradient(0deg, v.$WhiteBase 1%, transparent),
        var(--Baniere-Image) center / cover no-repeat;
      height: 25vh;
      width: 100%;
      position: relative;

      &:hover {
        background:
          linear-gradient(0deg, v.$WhiteBase 1%, transparent),
          url(var(--Icon-Image)) center / cover no-repeat;
        background-color: rgba(v.$Smoke, 0.4);
        background-blend-mode: multiply;

        &::after {
          background:
            linear-gradient(0deg, v.$WhiteBase 1%, transparent),
            url("src/assets/Img/Change.svg") left / contain no-repeat;
          content: "";
          height: 100%;
          width: 100%;
          display: block;
          transform: rotateY(180deg);
        }
      }

      input {
        position: absolute;
        position: absolute;
        right: 5px;
        background-color: v.$WhiteBase;
        z-index: 10;
        height: min-content;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    #Icon {
      background: var(--Icon-Image) center / cover no-repeat;
      height: 15vh;
      aspect-ratio: 1;
      position: absolute;
      left: 5%;
      top: 10vh;
      border-radius: 5px;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: url(var(--Icon-Image)) center / cover no-repeat;
        background-color: rgba(v.$Smoke, 0.4);
        background-blend-mode: multiply;

        &::before {
          background: url("src/assets/Img/Change.svg") center / cover no-repeat;
          content: "";
          height: 100%;
          width: 100%;
          display: block;
        }
      }
    }

    #Titre {
      width: 90%;
      align-self: center;

      border: none;
      background: transparent;
      outline: none;
      font-size: 3em;

      &,
      &::placeholder {
        @include v.Rundeck;
      }
    }

    table {
      align-self: flex-start;
      border-collapse: collapse;
      width: 40%;
      margin: 5vh 0 5vh 10%;

      tr {
        $BorderSize: 2px;
        border-top: $BorderSize solid v.$Void;
        &:last-child {
          border-bottom: $BorderSize solid v.$Void;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;

        td {
          &:nth-child(1) {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            aspect-ratio: 1;

            img {
              width: 1.5rem;
              aspect-ratio: auto;
            }
          }

          &:nth-child(2) {
            font-size: 1.5em;
            @include v.Rundeck;

            &:first-letter {
              @include v.Nove;
              text-transform: capitalize;
            }
          }

          &:nth-child(3) {
            width: 30%;

            input {
              width: 100%;
              border: none;
              background: transparent;
              outline: none;
              font-size: 1.5em;

              &,
              &::placeholder {
                @include v.Rundeck;
              }
            }
          }
        }
      }
    }

    p {
      position: absolute;
      left: 20px;
      top: 0;

      > * {
        @include v.Rundeck;
      }

      a {
        letter-spacing: 2px;
        color: v.$Void;
        text-decoration: none;
        border-radius: 4px;
        padding: 1px;
        transition: background 0.3s ease-in;

        &:hover {
          background: rgba(v.$Groove, 0.2);
        }
      }
    }
  }

  #Wrapper {
    width: 90%;
  }
}
