@use "variables" as v;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: max-content;

  #Baniere {
    background:
      linear-gradient(0deg, v.$WhiteBase 1%, transparent),
      var(--Baniere-Image) center / cover no-repeat;
    height: 25vh;
    width: 100%;
  }

  #Icon {
    background: var(--Icon-Image) center / cover no-repeat;
    height: 15vh;
    aspect-ratio: 1;
    position: absolute;
    left: 5%;
    top: 15vh;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    display: flex;

    &:hover {
      background: url(var(--Icon-Image)) center / cover no-repeat;
      background-color: rgba(v.$Smoke, 0.4);
      background-blend-mode: multiply;

      &::before {
        background: url("src/assets/Image/Block logo/Change.svg") center / cover
          no-repeat;
        content: "";
        height: 100%;
        width: 100%;
        display: block;
      }
    }

    #MenuIcon {
      height: 100%;
      width: 300%;
      position: absolute;
      left: 105%;
      height: 100%;
      border-radius: 5px;
      box-shadow:
        0 10px 16px 0 v.$Smoke,
        0 6px 20px 0 v.$Smoke;
      background-color: v.$WhiteBase;
    }
  }

  section {
    margin-top: 10px;
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    width: 90%;

    #Titre {
      @include v.Rundeck;
      &::first-letter {
        @include v.Nove;
      }

      &::after {
        content: attr(data-placeholder);
        color: v.$Groove;
        opacity: 0.8;
      }
      &:not(:empty)::after {
        content: "";
      }
    }

    h1,
    div {
      &:focus {
        outline: none;
      }

      &::selection {
        background-color: v.$BlueLink;
        padding: 2;
      }
      &::-moz-selection {
        background-color: v.$BlueLink;
        padding: 2px;
      }
    }

    #Categories {
      height: min-content;
      li {
        list-style-type: none;
        width: 100%;

        div {
          .id {
            p {
              @include v.Rundeck;

              &::first-letter {
                text-transform: capitalize;
              }
            }

            display: flex;
            gap: 5px;
            justify-content: start;
            height: min-content;

            img {
              height: 1rem;
              aspect-ratio: 1;
            }
          }

          div {
            width: 100%;
            text-align: start;
            align-items: center;

            &::after {
              content: attr(data-placeholder);
              color: v.$Groove;
              opacity: 0.8;
            }
            &:not(:empty)::after {
              content: "";
            }
          }

          height: min-content;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }

    #wrapper {
      display: flex;
      flex-direction: column;
      height: min-content;

      .ligne {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .colonne-item {
          width: 100%;

          &:empty {
            width: 0;
          }
        }
      }
    }
  }
}
