$Smoke: #7b7c79;
$Groove: #b6b5b3;
$BlueLink: #7b7caa;
$WhiteBase: #fafafa;
$Void: #161617;

@font-face {
  font-family: "Nove";
  src: url("../assets/fonts/Nove/Nove.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Rundeck";
  src: url("../assets/fonts/Rundeck\ Smooth/Rundeck\ Smooth.ttf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Helios Extended";
  src: url("../../public/fonts/Helios Extended/heliosext_bold.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Helios Extended";
  src: url("../../public/fonts/Helios Extended/heliosext_bold_italic.otf");
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Helios Extended";
  src: url("../../public/fonts/Helios Extended/heliosext.otf");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Helios Extended";
  src: url("../../public/fonts/Helios Extended/heliosext_italic.otf");
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@mixin Nove {
  font-family: "Nove", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Rundeck {
  font-family: "Rundeck", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Helios {
  font-family: "Helios Extended", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin HeliosItalic {
  font-family: "Helios Extended", sans-serif;
  font-style: italic;
  font-weight: 400;
}

@mixin HeliosBold {
  font-family: "Helios Extended", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin HeliosItalicBold {
  font-family: "Helios Extended", sans-serif;
  font-style: italic;
  font-weight: 700;
}
