@use "../../variables" as v;

.Doc {
  color: v.$Void;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 5px;

  > div {
    height: 100%;
    padding: 2px;

    img {
      width: 1rem !important;
      aspect-ratio: auto;

      &:hover {
        border-radius: 5px;
        background-color: rgba(v.$Groove, 0.2);
      }
    }
  }

  p {
    font-size: 1rem;
    text-decoration: underline;
    &:focus {
      outline: none;
    }
    &:empty {
      text-decoration: none;
    }
    &::after {
      content: attr(data-placeholder);
      color: v.$Groove;
      text-decoration: none;
      opacity: 0.8;
    }
    &:not(:empty)::after {
      content: "";
    }
    &::selection {
      background-color: v.$BlueLink;
      padding: 2;
    }
    &::-moz-selection {
      background-color: v.$BlueLink;
      padding: 2px;
    }
  }
}
