@use "../../variables.scss" as v;

.lien {
  display: flex;
  align-items: stretch;
  gap: 5px;
  width: 100%;

  iframe {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  p {
    color: v.$BlueLink;
    width: 100%;

    &:hover,
    &:focus {
      filter: saturate(10);
    }
    &:focus {
      outline: none;
      &::after {
        content: attr(data-placeholder);
        color: v.$Groove;
        opacity: 0.8;
      }
    }
    &:not(:empty)::after {
      content: "";
    }
    &::selection {
      background-color: v.$BlueLink;
      padding: 2;
      color: v.$Void;
    }
    &::-moz-selection {
      background-color: v.$BlueLink;
      padding: 2px;
    }
  }

  a {
    display: flex;
    align-items: center;

    img {
      width: auto;
      aspect-ratio: auto;
    }

    &:hover {
      border-radius: 5px;
      background-color: rgba(v.$Groove, 0.2);
    }
  }
}
