@use "../../variables" as v;

.Picture {
  &:has(img) {
    position: relative;
    img:not(:first-child) {
      position: absolute;
      right: 5px;
      opacity: 0;
      transition: opacity 0.05s ease-in-out;
      &:nth-child(2) {
        top: 5px;
      }
      &:last-child {
        bottom: 5px;
      }
    }

    &:hover img {
      opacity: 1;
    }
  }
}
