@use "../variables" as v;

#SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  padding-top: 5vh;
  width: 80%;
  height: 80vh;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  .logos {
    display: flex;
    justify-content: center;
    height: min-content;
    gap: 5vw;
    margin: 0 5vw;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        @include v.Rundeck;
      }
      h2 {
        @include v.Nove;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 5vw;

      label {
        width: 50%;
      }

      input {
        flex: 1;
        outline: none;
        border: 1px solid v.$Groove;
        border-radius: 5px;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          position: absolute;
          right: 0;
        }
      }

      button {
        border: none;
        background-color: v.$Smoke;
        border-radius: 5px;
        padding: 5px;
        color: v.$WhiteBase;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 2px 2px 0.4em v.$Void;
          text-shadow: 2px 2px 0.4em v.$Void;
          background-color: v.$Groove;
        }
      }
    }
  }

  span {
    color: red;
  }
}
