@use "/src/styles/variables.scss" as v;

.Cite {
  @include v.HeliosItalicBold;

  border-left: 5px solid v.$Void;
  box-shadow:
    0 1px 16px 0 v.$Smoke,
    0 1px 20px 0 v.$Smoke;

  background-color: rgba(v.$Groove, 0.2);
  mask-image: none;

  border-radius: 0 5px 5px 0 !important;
  opacity: 1;

  height: 5em;
  width: 60%;
}
