@use "../variables" as v;

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 5vw;

  label {
    width: 50%;
  }

  input {
    flex: 1;
    outline: none;
    border: 1px solid v.$Groove;
    border-radius: 5px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      right: 0;
      height: 1rem;
      cursor: pointer;
    }
  }
}
